<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level){TRACE=blue,DEBUG=green,WARN=yellow,ERROR=red}
                      class: %logger
                     method: %method
                    message: %msg%n
                </pattern>
            </layout>
        </encoder>
    </appender>
    <logger name="org.hibernate" level="INFO"/>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>